<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="style/home.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />
    <title>Home</title>
  </head>
  <body>
    <div class="nav">
      <ul>
        <li><i class="fa fa-sign-out"> Log out </i></li>
        <li><i class="fa fa-gear"> Settings</i></li>
        <li><i class="fa fa-book"> My diary</i></li>
        <li><i class="fa fa-home"></i> Home</li>
        <li>
          <button
            class="fa fa-plus"
            id="cn-button"
            style="border-radius: 50%;"
          ></button>
        </li>
      </ul>
    </div>
    <script src="js/home.js"></script>
  </body>
</html>
