<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="style/home.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />
    <title>My Diary</title>
  </head>
  <body>
    <div class="nav">
      <ul>
        <li>
          <a href="logout">
            <i class="fa fa-sign-out"> Log out </i>
          </a>
        </li>

        <li>
          <a href="settings">
            <i class="fa fa-gear"> Settings</i>
          </a>
        </li>
        <li>
          <a href="diary">
            <i class="fa fa-book">My diary</i>
          </a>
        </li>
        <li>
          <a href="home">
            <i class="fa fa-home">Home</i>
          </a>
        </li>

        <li>
          <a
            href="create"
            class="fa fa-plus"
            id="cn-button"
            style="border-radius: 50%;"
          >
          </a>
        </li>
      </ul>
    </div>

    <header><h1>My Diary</h1></header>
    <script src="js/home.js"></script>
  </body>
</html>
