/* Main navigation */

.nav {
  width: 100%;
  padding: 5px 0;
  background: #1976d2;
  border-radius: 4px;
}

.nav ul {
  text-align: center;
  padding: 0;
  margin: -5px;
}

a {
  color: #ffffff;
  text-decoration: none; /* no underline */
}

.nav ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: -5px;
  font-size: 25px;
  width: 200px;
  height: 60px;
  line-height: 60px;
  border-left: 1px solid #ffffff;
  cursor: pointer;
  text-align: center;
  font-family: Calibri;
}
#cn-button {
}

@media screen and (max-width: 600px) {
  .nav {
    float: none;
  }
}

/* END */

/* Diary entry modal and BACKDROP */

.hide {
  display: none !important;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  width: 90%;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  position: fixed;
  top: 20vh;
  left: 5%;
  z-index: 100;
}

.modal-header {
  padding: 1rem;
  background: #1976d2;
  color: white;
}

.modal-header h1 {
  margin: 0;
  font-size: 1.25rem;
}

.modal-content {
  padding: 1rem;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

@media (min-width: 768px) {
  .modal {
    width: 30rem;
    left: calc((100% - 30rem) / 2);
  }
}

/* END */

/* FORM CONTROL */

.form-control,
.form-control input,
.form-control textarea {
  resize: none;
  width: 100%;
  display: block;
}

.form-control label {
  margin-bottom: 0.5rem;
}

.form-control {
  margin-bottom: 1rem;
}

.form-control img {
  margin-bottom: 0.5rem;
}

.form-actions button,
.btn {
  background: #1976d2;
  font: inherit;
  border: 1px solid#1976d2;

  border-radius: 3px;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
  color: white;
  cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active,
.btn:hover,
.btn:active {
  background: #3f00a3;
  border-color: #3f00a3;
}

/* END */

/* Diary entry list and item */

.day-entry-list {
  width: 40rem;
  max-width: 90%;
  margin: 2rem auto;
  list-style: none;
  padding: 0;
}

.day-entry-item {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #1976d2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.day-entry-item h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #1976d2;
  cursor: pointer;
}

.day-entry-item h2 {
  margin: 0;
  font-size: 1rem;
  color: #7c7c7c;
}

.day-entry-item p {
  margin: 0;
}

/* END */

/* Footer */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1976d2;
  color: white;
  text-align: center;
}

/* END */
